{% extends "master.html.twig" %} {% block title %}Andrey Lyamkin | About{%
endblock %} {% block content %}
<div class="container">
  <!-- ABOUT ME -->

  <section id="aboutme" class="aboutme text-muted py-4">
    <h1 class="text-muted header-secondary text-center my-4">about me</h1>
    <div class="row">
      <div class="col col-12 col-lg-5">
        <img
          src="/images/andrey-lyamkin.jpg"
          alt="andrey picture"
          class="img-fluid img-thumbnail"
        />
      </div>
      <div class="col col-12 col-lg-7">
        <p>
          First and foremost, I love the software development process and I'm
          hungry to take new knowledge all the time. Before I realized that
          programming is what I would like to do all the life I tried many
          roles.
        </p>
        <p>
          When I was working in a big telecommunication company like a Network
          Operations Analyst, I tried to develop my first web application using
          javascript, CSS, HTML, PHP. It was a simple application, but the
          advantage for my department was huge because this application reduced
          the time of data analysis. The application took statistical data from
          the database and displayed it in a readable format. Platform
          independent, fast working. Since that time I realized that I can do
          amazing things!!
        </p>
        <p>
          Before I dive into pure programming I tried another role. Because of
          my strong computer networking skills and my ability to absorb the new
          knowledge fast, I was hired by the fast-growing company that produced
          cryptocurrency. I have started as an ordinary operator and after a
          dozen months I have got a Senior Data center operator position. During
          that time the entire computer network was rebuilt by our team of
          engineers including me and therefore the security was increased. In
          addition to that, I organized 24/7 working shifts for smooth
          operation. Of course, such a smooth organized data center gave the
          company lots of profit. I learned a lot, mostly how to manage people,
          resolve conflicts and how to work in a stressful environment.
        </p>
        <p>
          But all the time I have always dreamed to be a software developer.
          Finally, I made the next step on my professional path. I started an
          Internet programming and development program at John Abbott College.
          During my education, I learned a lot and now I have Java, C#,
          Javascript, PHP, HTML, CSS, Bootstrap, MySQL, MSSQL, Git/GitHub under
          my belt. This is not the full list of technologies that I have. I
          believe I'm on the right way toward my dream. I'm still
          enthusiastically grabbing onto other programming languages,
          frameworks, or principles I can integrate into the coding web in my
          head. My future plan is to join the enthusiastic team of professional
          developers and work on challenging projects.
        </p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
