{% extends "master.html.twig" %} {% block title %}Andrey Lyamkin | About{%
endblock %} {% block content %}
<div class="container">
  <!-- ABOUT ME -->

  <section id="contactme" class="contactme text-muted py-4">
    <h1 class="text-muted header-secondary text-center my-4">Contact me</h1>
    <div class="row text-center lead">
      <div class="col">
        <span>Email: </span>
        <a
          href="mailto:andrew.lyamkin@gmail.com?subject=Important!&body=HiAndrey!"
          target="_blank"
          rel="noopener noreferrer"
          class=""
          >andrew.lyamkin@gmail.com</a
        >
      </div>
    </div>
    <div class="row text-center lead">
      <div class="col">
        <span class="lead">LinkedIn: </span>
        <a
          href="https://www.linkedin.com/in/andreylyamkin/"
          target="_blank"
          rel="noopener noreferrer"
          >www.linkedin.com/in/andreylyamkin</a
        >
      </div>
    </div>
  </section>
</div>
{% endblock %}
