{% extends "master.html.twig" %} {% block title %}Andrey Lyamkin | Education $
skills{% endblock %} {% block content %}
<div class="container">
  <!-- EDUCATION & SKILLS -->

  <section id="eduskills" class="eduskills text-muted py-4">
    <h1 class="text-muted header-secondary text-center my-4">education</h1>
    <div class="container">
      <ul class="timeline">
        <li>
          <div class="timeline-badge">
            <i class="fas fa-graduation-cap"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">John Abbott College <a href="https://www.johnabbott.qc.ca/"><i class="fas fa-link"></i></a></h4>
              <p>
                <small class="text-muted"
                  ><i class="fas fa-calendar-alt"></i> September 2020 -
                  September 2021, Montreal, QC</small
                >
                
                <p class="lead">Internet Programming and Development</p>
              </p>
            </div>
            <div class="timeline-body">
                <p>Internet Programming & Development (IPD) encompasses the major frameworks and software architectures on the Internet today</p>
                <p>Courses cover the major server frameworks and associated development environments such as Sun Java Enterprise Edition, Microsoft .NET, and open source platforms. They also include the client side technologies that are part of Web 2.0. The course work consists of HTML, CSS, JavaScript, Java, Visual Studio.NET (Visual Basic and C#), ASP.NET, JSP, and web server management.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Vanier College <a href="https://www.vaniercollege.qc.ca/"><i class="fas fa-link"></i></a></h4>
                  <p>
                    <small class="text-muted"
                      ><i class="fas fa-calendar-alt"></i> January 2020 - May 2020, Motreal, QC</small
                    >
                    
                    <p class="lead">Web and Database Programming</p>
                  </p>
                </div>
                <div class="timeline-body">
                    <p>Due to popular demand from industry and students needing computer programming skills, the Vanier College Centre for Continuing Education developed a Web and Database Programming Attestation. This attestation of 360 hours was designed for adults in the computer technology workforce who wish to upgrade their programming and Web design skills</p>
                </div>
              </div>
        </li>
        <li>
            <div class="timeline-badge">
                <i class="fas fa-certificate"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">ComIT <a href="https://www.comit.org/"><i class="fas fa-link"></i></a></h4>
                  <p>
                    <small class="text-muted"
                      ><i class="fas fa-calendar-alt"></i> June 2017 - September 2017, Winnipeg, MB</small
                    >
                    
                    <p class="lead">Java development</p>
                  </p>
                </div>
                <div class="timeline-body">
                    <p>ComIT is a registered charity that offers 3 month part-time courses to people who are interested in a career in IT.</p>
                </div>
              </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge">
                <i class="fas fa-university"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Ural State Mining University <a href="http://en.ursmu.ru/#univer/"><i class="fas fa-link"></i></a></h4>
                  <p>
                    <small class="text-muted"
                      ><i class="fas fa-calendar-alt"></i> September 2003 – July 2008, Russia</small
                    >
                    <p class="lead">Bachelor’s: Information Systems and Technologies</p>
                  </p>
                </div>
                <div class="timeline-body">
                    <p>My specialization is information system and technologies in geophysics</p>
                </div>
              </div>
        </li>
      </ul>
    </div>
    <p class="text-muted header-secondary text-center my-4">skills</p>
  </section>
</div>
{% endblock %}
