{% extends "master.html.twig" %} {% block title %}Andrey Lyamkin | Education $
skills{% endblock %} {% block content %}
<div class="container">
  <!-- EDUCATION & SKILLS -->
  <section id="skills" class="skills text-muted py-4">
    <h2 class="text-muted header-secondary text-center my-4">skills</h2>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-2">
        <p class="lead">Programming & scripting languages:</p>
      </div>
      <div class="col col-lg-6">
        <ul class="list-inline">
          <li class="list-inline-item border rounded p-1 text-uppercase">
            java
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            javascript
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">C#</li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            PHP
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-2">
        <p class="lead">Web development:</p>
      </div>
      <div class="col col-lg-6">
        <ul class="list-inline">
          <li class="list-inline-item border rounded p-1 text-uppercase">
            html
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            css
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            Bootstrap
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            React
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-2">
        <p class="lead">Databases:</p>
      </div>
      <div class="col col-lg-6">
        <ul class="list-inline">
          <li class="list-inline-item border rounded p-1 text-uppercase">
            mysql
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            mssql
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            sql
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-2">
        <p class="lead">Version control & teamwork:</p>
      </div>
      <div class="col col-lg-6">
        <ul class="list-inline">
          <li class="list-inline-item border rounded p-1 text-uppercase">
            github
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            trello
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-2">
        <p class="lead">Web Design:</p>
      </div>
      <div class="col col-lg-6">
        <ul class="list-inline">
          <li class="list-inline-item border rounded p-1 text-uppercase">
            pixlr
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            figma
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4 offset-lg-2">
        <p class="lead">IDE:</p>
      </div>
      <div class="col col-lg-6">
        <ul class="list-inline">
          <li class="list-inline-item border rounded p-1 text-uppercase">
            Eclipse
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            NetBeans
          </li>
          <li class="list-inline-item border rounded p-1 text-uppercase">
            Visual Studio
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="education" class="text-muted py-4">
    <h2 class="text-muted header-secondary text-center my-4">education</h2>
    <div class="container">
      <ul class="timeline">
        <li>
          <div class="timeline-badge">
            <i class="fas fa-graduation-cap"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                John Abbott College
                <a href="https://www.johnabbott.qc.ca/"
                  ><i class="fas fa-link"></i
                ></a>
              </h4>

              <small class="text-muted"
                ><i class="fas fa-calendar-alt"></i> September 2020 - September
                2021, Montreal, QC</small
              >

              <p class="lead">Internet Programming and Development</p>
            </div>
            <div class="timeline-body">
              <p>
                Internet Programming & Development (IPD) encompasses the major
                frameworks and software architectures on the Internet today
              </p>
              <p>
                Courses cover the major server frameworks and associated
                development environments such as Sun Java Enterprise Edition,
                Microsoft .NET, and open source platforms. They also include the
                client side technologies that are part of Web 2.0. The course
                work consists of HTML, CSS, JavaScript, Java, Visual Studio.NET
                (Visual Basic and C#), ASP.NET, JSP, and web server management.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge">
            <i class="fas fa-graduation-cap"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Vanier College
                <a href="https://www.vaniercollege.qc.ca/"
                  ><i class="fas fa-link"></i
                ></a>
              </h4>
              <small class="text-muted"
                ><i class="fas fa-calendar-alt"></i> January 2020 - May 2020,
                Motreal, QC</small
              >
              <p class="lead">Web and Database Programming</p>
            </div>
            <div class="timeline-body">
              <p>
                This attestation of 360 hours was designed for adults in the
                computer technology workforce who wish to upgrade their
                programming and Web design skills
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge">
            <i class="fas fa-certificate"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                ComIT
                <a href="https://www.comit.org/"><i class="fas fa-link"></i></a>
              </h4>
              <small class="text-muted"
                ><i class="fas fa-calendar-alt"></i> June 2017 - September 2017,
                Winnipeg, MB</small
              >
              <p class="lead">Java development</p>
            </div>
            <div class="timeline-body">
              <p>
                ComIT is a registered charity that offers 3 month part-time
                courses to people who are interested in a career in IT.
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge">
            <i class="fas fa-university"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                Ural State Mining University
                <a href="http://en.ursmu.ru/#univer/"
                  ><i class="fas fa-link"></i
                ></a>
              </h4>
              <small class="text-muted"
                ><i class="fas fa-calendar-alt"></i> September 2003 – July 2008,
                Russia</small
              >
              <p class="lead">
                Bachelor’s: Information Systems and Technologies
              </p>
            </div>
            <div class="timeline-body">
              <p>
                My specialization is information system and technologies in
                geophysics
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
